@import '~lucide-static/font/lucide.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: 242, 246, 208;
  --primary-color: 153, 87, 14;
  --secondary-color: 68, 54, 39;
  --tertiary-color: 239, 220, 171;
  --text-color: 68, 54, 39;
}

html,
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(var(--background-color));
  /* background-image: url('../assets/noise.svg'); */
  background-repeat: repeat;
  /* background-size: 100px; */
  /* mix-blend-mode: darken; */
}

html[data-theme='basic'] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  .layout {
    /* GRID */
    display: grid;
    grid-template-areas:
      'header header header header' 'nav nav nav nav'
      'content content content lateral' 'footer footer footer lateral';
    grid-template-rows: 60px 50px 1fr 40px;
    grid-template-columns: 25% 20% 20% 35%;
  }
}

html[data-theme='advanced'] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  .layout {
    /* GRID */
    display: grid;
    grid-template-areas:
      'header header header header' 'nav nav nav nav'
      'lateral content content content' 'lateral footer footer footer';
    grid-template-rows: 60px 50px 1fr 40px;
    grid-template-columns: 30% 25% 25% 20%;
  }
}

html[data-theme='complex'] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  p {
    margin: 0 0 1em 0;
    padding: 0;

    &:last-child {
      margin: 0;
    }
  }

  .layout {
    /* GRID */
    display: grid;
    grid-template-areas:
      'header nav nav nav'
      'lateral content content content' 'footer footer footer footer';
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns: 30% 25% 25% 20%;
  }
}

* {
  box-sizing: border-box;
}

.layout {
  width: 100%;
  min-height: 100vh;
  color: rgb(var(--text-color));
}

.layout header {
  background-color: rgb(var(--secondary-color));
  color: white;
  /* GRID */
  grid-area: header;
  /* Display */
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.32rem 1rem;

  h1 {
    margin: 0;
    padding: 0;
    line-height: 50px;
    text-align: center;
    color: white;
  }

  .logo {
    background: linear-gradient(
      90deg,
      rgb(var(--tertiary-color)) 10%,
      rgb(var(--primary-color)) 90%
    );
    /* background-color: white; */
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .play {
      width: 0;
      height: 0;
      margin-left: 3px;
      border-left: 16px solid white;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
    }
  }
}

.layout nav {
  background-color: rgb(var(--secondary-color));
  color: #443627;
  /* GRID */
  grid-area: nav;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    li {
      width: 100%;
      border-left: #44362726 1px solid;

      &:first-child {
        border-left: none;
      }

      button {
        border: 0 solid transparent;
        background-color: transparent;
        width: 100%;
        text-decoration: none;
        color: white;
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        /* Flex */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5ch;

        &:hover {
          /* color: white; */
          background-color: rgba(var(--secondary-color), 0.2);
          /* Gradient left to right from transparent to secondary color */
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to right,
              rgba(var(--primary-color), 0.1),
              rgba(0, 0, 0, 0.1)
            );
          }
        }

        .icon {
          font-size: 22px;
        }
      }
    }
  }
}

.layout section.content {
  color: rgb(var(--text-color));
  padding: 1rem;
  /* GRID */
  grid-area: content;

  .content-area {
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .item {
      position: relative;
      /* border: 1px solid rgb(var(--tertiary-color)); */
      /* background-color: rgba(var(--tertiary-color), 1); */
      border-radius: 1rem;
      box-shadow: 0 0 6px #ddd;
      overflow: hidden;
      /* Flex */
      flex: 1 1 calc(33.333% - 1rem); /* Ajusta el ancho para que quepan tres por fila */
      box-sizing: border-box;
      flex-grow: 1;

      @media screen and (max-width: 768px) {
        flex: 1 1 calc(50% - 1rem); /* Ajusta el ancho para que quepan dos por fila */
      }

      @media screen and (max-width: 480px) {
        flex: 1 1 calc(100% - 1rem); /* Ajusta el ancho para que quepan uno por fila */
      }

      .content {
        padding: 0.7em;

        .description {
          margin-bottom: 1em;
        }
      }

      img {
        width: calc(100% + 2rem);
        margin-top: -1rem;
        margin-right: -1rem;
        margin-left: -1rem;
        margin-bottom: 1rem;
        object-fit: cover;
        max-height: 200px;

        @media screen and (max-width: 768px) {
          max-height: 125px;
        }
      }

      .actions {
        display: flex;
        flex-direction: row;
        gap: 1em;

        &.hidden {
          display: none;
        }

        button {
          width: fit-content;
          background-color: rgb(var(--primary-color));
          color: white;
          border: none;
          padding: 0.5em 1em;
          border-radius: 0.5em;
          cursor: pointer;
          transition: background-color 0.2s;
          font-weight: bold;

          &.edit,
          &.update {
            background-color: rgb(var(--tertiary-color));
            color: rgb(var(--text-color));
          }

          &:hover {
            background-color: rgb(var(--secondary-color));
            color: white;
          }
        }
      }
    }
  }
}

.layout aside {
  background-color: transparent;
  color: #443627;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-left: #44362726 1px solid;
  /* GRID */
  grid-area: lateral;

  & > div {
    border-radius: 10px;
    background-color: rgba(var(--secondary-color), 0.2);
    padding: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px #91919165;

    * {
      position: relative;
      z-index: 1;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url('../assets/noise.svg') no-repeat;
      background-repeat: repeat;
      /* background-size: 100px; */
      mix-blend-mode: color-burn;
    }
  }
}

@keyframes showForm {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hideForm {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(110%);
  }
}

form {
  & > div {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 0.5em;

    label p {
      margin: 0;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #44362726;
    border-radius: 0.5em;

    &.error {
      outline: 0 solid transparent;
      border-color: red;
    }

    &:focus:not(.error) {
      outline: 2px solid rgb(var(--primary-color));
    }
  }

  textarea {
    height: 10rem;
    /* Deactivate user  */
    resize: none;
  }

  &.edit-form {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    padding: 0.7rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-height: 100%;
    overflow-y: auto;

    /* Animation to show when is open */
    &.show {
      animation: showForm 0.5s forwards;
    }

    /* Animation to hide when is closed */
    &.hidden {
      animation: hideForm 0.5s forwards;
    }
  }

  input[type='submit'] {
    background-color: rgb(var(--primary-color));
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bold;

    &:hover {
      background-color: rgb(var(--secondary-color));
      color: white;
    }
  }
}

.layout footer {
  padding: 0.5rem;
  background-color: rgb(var(--secondary-color));
  color: white;
  display: flex;
  align-items: center;
  /* GRID */
  grid-area: footer;
}
